.App {
  color: hsl(200, 15%, 8%);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: -1;
  box-shadow: 0 0 5px #ccc;
  background-color: white;
}

@media screen and (max-width: 1023px) {
  header::before {
    height: 80px;
  }
}

header h1 {
  width: 1024px;
  margin: 0 auto;
  padding-top: 24px;
  font-size: 19px;
  font-weight: 800;
}

@media screen and (max-width: 1023px) {
  header h1 {
    width: 100%;
    padding-top: 34px;
    padding-left: 14px;
    font-size: 14.25px;
    box-sizing: border-box;
  }
}

main {
  margin: 0 auto;
  width: 1024px;
}

@media screen and (max-width: 1023px) {
  main {
     width: 100%;
     margin: 0 0;
     box-sizing: border-box;
  };
}

.countries-grid {
  margin-top: 38px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 58px;
  grid-row-gap: 60px;
}

@media screen and (max-width: 1023px) {
  .countries-grid {
    margin-top: 33px;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: 42px;
  }
}

.error404 {
  margin-top: 50px;
}
