.details {
  margin-top: 88px;
  font-size: 13px;
}

@media screen and (max-width: 1023px) {
  .details {
    margin: 73px 25px 0 25px;
  }
}

.details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: white;
}

.details a {
  color: inherit;
  text-decoration: none;
}

.details > a {
  box-shadow: 0 0 5px #aaa;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
  width: 85px;
  padding-left: 25px;
}

.details > a i {
  padding-right: 12px;
}

.details a:visited {
  color: inherit;
}

.details section {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .details section {
    flex-direction: column;
  }
}

.details img {
  height: 321px;
  width: 447px;
    /* Without object-fit: contain flags are stretched */
    /* but so they are in app design */
  /*object-fit: contain;*/
    /* I also added border so that flags with big white bands (e.g. Russian) */
    /* look better */
  border:1px solid #aaa;
}

@media screen and (max-width: 1023px) {
  .details img {
    width: 100%;
    height: auto;
  }
}

.details-text {
  width: 481px;
  margin-top: 36px;
}

@media screen and (max-width: 1023px) {
  .details-text {
    width: auto;
  }
}

.details-text h1 {
  font-size: 26px;
  font-weight: 800;
}

.details-text .columns {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .details-text .columns {
    flex-direction: column;
  }
}

.column2 {
  width: 202px;
}

.column1 div, .column2 div {
  margin-bottom: 13px;
}

.details strong {
  font-weight: 600;
}

.border-countries {
  margin-top: 47px;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .border-countries {
    margin-top: 30px;
    flex-direction: column;
  }
}

.border-countries strong {
  margin-top: 5px;
  margin-right: 11px;
}

@media screen and (max-width: 1023px) {
  .border-countries strong {
    font-size: 18px;
  }
}

.actual-borders {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}

@media screen and (max-width: 1023px) {
  .actual-borders {
    margin: 20px 0;
  }
}

.actual-borders a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 78px;
  min-height: 23px;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 0 4px #ccc;
  font-size: 11.5px;
}
